<div class="card">
    <div class="card-body">
        <h5 class="card-title">Not signed in</h5>
        <p class="card-text">To access this you need to sign in.</p>
        <!--<a [routerLink]="['/signin']" routerLinkActive="router-link-active"  class="btn btn-primary">Sign in</a>-->
        <!--Put this here as a placeholder, dont know the exact route for Isaihs sign-in component-->
        <button (click)="userService.googleSignin()">
            <i class="fa fa-google"></i> Log in with Google
            </button>
    </div>
</div>