<mat-grid-list cols="10" rowHeight= "1:1">
    <mat-grid-tile>Course:<br> {{courseSAI.getCourseName()}}</mat-grid-tile>
    <mat-grid-tile>Question 1</mat-grid-tile>
    <mat-grid-tile>Question 2</mat-grid-tile>
    <mat-grid-tile>Question 3</mat-grid-tile>
    <mat-grid-tile>Question 4</mat-grid-tile>
    <mat-grid-tile>Question 5</mat-grid-tile>
    <mat-grid-tile>Question 6</mat-grid-tile>
    <mat-grid-tile>Question 7</mat-grid-tile>
    <mat-grid-tile>Question 8</mat-grid-tile>
    <mat-grid-tile>Question 9</mat-grid-tile>
</mat-grid-list>
