<div class="header">
    <h1>Pick a course to evaluate</h1>
</div>

  <div class="card-div">
    <div class="card">
        <div class="card-header">
          Course:
        </div>
        <div class="card-body">
          <h5 class="card-title">CEN3031 Software Engineering I</h5>
          <p class="card-text">Professor Name: Brian Eddy</p>
          <button (click)='evaluateCourse("cen3031")' class="btn btn-primary">Evaluate Course</button>
          <a href="/evaluate-facility" class="btn btn-primary">Evaluate Facility</a>
        </div>
    </div>
    <div class="card">
      <div class="card-header">
        Course:
      </div>
      <div class="card-body">
        <h5 class="card-title">COP3530 Data Structures and Algorithms</h5>
        <p class="card-text">Professor Name: Steve Bitner</p>
        <button (click)='evaluateCourse("cop3530")' class="btn btn-primary">Evaluate Course</button>
        <a href="/evaluate-facility" class="btn btn-primary">Evaluate Facility</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Course:
      </div>
      <div class="card-body">
        <h5 class="card-title">CIS4595 Capstone Project</h5>
        <p class="card-text">Professor Name: Bernd Owsnicki-Klewe</p>
        <button (click)='evaluateCourse("cis4595")' class="btn btn-primary">Evaluate Course</button>
        <a href="/evaluate-facility" class="btn btn-primary">Evaluate Facility</a>
      </div>
    </div>
  </div>

