<div class="header">
    <h1>Pick a course to evaluate</h1>
  </div>
  <div class="card-div">
    <div class="card">
        <div class="card-header">
          Course:
        </div>
        <div class="card-body">
          <h5 class="card-title">CEN3031 Software Engineering I</h5>
          <p class="card-text">Professor Name: Brian Eddy</p>
          <a href="#" class="btn btn-primary">Evaluate Course</a>
          <a href="#" class="btn btn-primary">Evaluate Facility</a>
        </div>
    </div>
    <div class="card">
      <div class="card-header">
        Course:
      </div>
      <div class="card-body">
        <h5 class="card-title">COP3530 Data Structures and Algorithms</h5>
        <p class="card-text">Professor Name: Steve Bitner</p>
        <a href="#" class="btn btn-primary">Evaluate Course</a>
        <a href="#" class="btn btn-primary">Evaluate Facility</a>
      </div>
    </div>
  </div>
