<div class="header">
    <h1>Evaluate Course</h1>
  </div>
  <div class="card-div">
    <div class="card">
        <div class="card-header">
          Grade Anticipation
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">What do you anticipate your grade will be?</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption1" id="radioA-1" value="option1">
                <label class="form-check-label" for="radioA-1">A</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption1" id="radioB-1" value="option2">
                <label class="form-check-label" for="radioB-1">B</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption1" id="radioC-1" value="option3">
                <label class="form-check-label" for="radioC-1">C</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption1" id="radioD-1" value="option4">
                <label class="form-check-label" for="radioD-1">D</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption1" id="radioF-1" value="option5">
                <label class="form-check-label" for="radioF-1">F</label>
              </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
          Learning Environment
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">The learning environment was good enough to help me understand the material.</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption2" id="radioStronglyAgree" value="option1">
                <label class="form-check-label" for="radioStronglyAgree">Strongly Agree</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption2" id="radioAgree" value="option2">
                <label class="form-check-label" for="radioAgree">Agree</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption2" id="radioNeutral" value="option3">
                <label class="form-check-label" for="radioNeutral">Neutral</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption2" id="radioDisagree" value="option4">
                <label class="form-check-label" for="radioDisagree">Disagree</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption2" id="radioStronglyDisagree" value="option5">
                <label class="form-check-label" for="radioStronglyDisagree">Strongly Disagree</label>
              </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
          Grading Material
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">The professor graded material in a timely manner.</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption3" id="radioStronglyAgree" value="option1">
                <label class="form-check-label" for="radioStronglyAgree">Strongly Agree</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption3" id="radioAgree" value="option2">
                <label class="form-check-label" for="radioAgree">Agree</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption3" id="radioNeutral" value="option3">
                <label class="form-check-label" for="radioNeutral">Neutral</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption3" id="radioDisagree" value="option4">
                <label class="form-check-label" for="radioDisagree">Disagree</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption3" id="radioStronglyDisagree" value="option5">
                <label class="form-check-label" for="radioStronglyDisagree">Strongly Disagree</label>
              </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
          Helpfulness
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">The professor was helpful and understanding of students' questions and concerns.</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption4" id="radioStronglyAgree" value="option1">
                <label class="form-check-label" for="radioStronglyAgree">Strongly Agree</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption4" id="radioAgree" value="option2">
                <label class="form-check-label" for="radioAgree">Agree</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption4" id="radioNeutral" value="option3">
                <label class="form-check-label" for="radioNeutral">Neutral</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption4" id="radioDisagree" value="option4">
                <label class="form-check-label" for="radioDisagree">Disagree</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOption4" id="radioStronglyDisagree" value="option5">
                <label class="form-check-label" for="radioStronglyDisagree">Strongly Disagree</label>
              </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
          Overall Opinion
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Please provide any additional comments about the professor or learning environment to help us get a better evaluation of this course.</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Type your comment here</label>
              </div>
        </div>
    </div>
    <div id="submit">
        <button type="button" class="btn btn-primary">Submit</button>
    </div>
  </div>

