<div class="header">
  <h1>Evaluate Course</h1>
</div>
<div>
  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <div class="card-div">
      <div class="card">
        <div class="card-header">
          Question 1
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">What topics should have been explained in more depth?</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="question1" style="height: 100px"
              formControlName="question1" maxlength="200"></textarea>
            <label for="floatingTextarea2">Type your comment here: Max characters: 200 </label>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header">
          Question 2
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">What topics should have been omitted or shortened?</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="question2" style="height: 100px"
              formControlName="question2" maxlength="200"></textarea>
            <label for="floatingTextarea2">Type your comment here: Max characters: 200 </label>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Question 3
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">What other methods of instruction would you suggest? (Lectures, Videos, Projects, etc)</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="question3" style="height: 100px"
              formControlName="question3" maxlength="200"></textarea>
            <label for="floatingTextarea2">Type your comment here: Max characters: 200 </label>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header">
          Question 4
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">What other methods of presentation or visuals would you suggest?</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="question4" style="height: 100px"
              formControlName="question4" maxlength="200"></textarea>
            <label for="floatingTextarea2">Type your comment here: Max characters: 200 </label>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header">
          Question 5
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">What methods of communication would you suggest moving forward? (Discord, Slack, etc.)</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="questions" style="height: 100px"
              formControlName="questions" maxlength="200"></textarea>
            <label for="floatingTextarea2">Type your comment here: Max characters: 200 </label>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Question 6
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">What would you like your instructor to do less? (Example: Show less powerpoint and more examples)</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="question6" style="height: 100px"
              formControlName="question6" maxlength="200"></textarea>
            <label for="floatingTextarea2">Type your comment here: Max characters: 200 </label>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header">
          Question 7
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">What would you suggest your instructor do more of? (Example: More Examples with detailed explantions)</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="question7" style="height: 100px"
              formControlName="question7" maxlength="200"></textarea>
            <label for="floatingTextarea2">Type your comment here: Max characters: 200 </label>
          </div>
        </div>
      </div>


      <div id="submit">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>